<div class="container">
  <!-- <div class="product" *ngFor="let item of productos">  -->

    <div class="column">
      <h1>Detalle de Compra</h1>
  
      <div class="delivery-method">
        <h3>¿Cómo quieres recibir o retirar tu compra?</h3>
        <div class="address-section">
          <p>Domicilio</p>
          <p>Manzana D # N 1-SN</p>
          <p>Villa Hermosa - Armenia, Quindio</p>
          <p><a class="edit-link" href="#">Editar o elegir otro</a></p>
        </div>
        <button class="action-button">Recibir compra</button>
      </div>
      
      <div class="pickup-info">
        <h3>Retirar compra</h3>
        <p>Retiro en agencias de Mercado Libre</p>
        <p>Llega el lunes</p>
        <p>Gratis<span class="new-badge">NUEVO</span></p>
        <p>Beneficio Mercado Puntos</p>
      </div>
    </div>
  
    <div class="column">
      <div class="product-info">
        <h2>{{producto.nombre}}</h2><br>

        <ng-container *ngIf="producto.imagenes && producto.imagenes.length > 0">
          <img [src]="producto.imagenes[0]" alt="Imagen del producto" class="product-image">
        </ng-container>
        
       <h3>Descripcion:</h3>  <p>{{producto.descripcion}}</p>
      </div>
  
      <div class="total-info">
        <p>Total a pagar</p>
        <p>${{producto.precio}}</p>
      </div>
  
      <button class="continue-button">Continuar</button>
    </div>
  </div>
  <!-- </div> -->
  
  
