<div class="card p-4">
  <div class="mb-3">
  </div>
  <table class="table table-striped table-hover" *ngIf="productos">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Descripción</th>
        <th>Precio</th>
        <th>Imágenes</th>
        <th>Categorías</th>
        <th></th>
      </tr>
    </thead>
    <tbody class="table-group-divider">
      <tr *ngFor="let item of productos">
        <td>
          <p>{{ item.respuesta.nombre }}</p>
        </td>
        <td>
          <p>{{ item.respuesta.descripcion }}</p>
        </td>
        <td>
          <p>{{ item.respuesta.precio }}</p>
        </td>
        <td>
          <img *ngIf="item.respuesta.imagenes && item.respuesta.imagenes.length > 0" [src]="item.respuesta.imagenes[0]" width="120" />
        </td>
        <td>
          <p>{{ item.respuesta.categorias }}</p>
        </td>
        <td>
          <button type="button" class="crear-button" (click)="quitarProducto(item.respuesta.codigo)">
            <i class="fa-solid fa-pen"></i> Quitar de favoritos
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
